
<!-- src/app/timesheet/calendar-view/charge-code-dialog.component.html -->

<h2 mat-dialog-title>Charge Codes</h2>
<mat-dialog-content class="max-h-96 overflow-y-auto p-4">
  <h3 class="mb-4 font-semibold text-gray-800">Available</h3>
  <mat-list class="divide-y divide-gray-200">
    <mat-list-item *ngFor="let code of availableCodes" class="py-2">
      <mat-checkbox class="mr-3" [(ngModel)]="code.active"></mat-checkbox>
      <span class="flex-1">{{ code.name }} ({{ code.linkedAccount }})</span>
    </mat-list-item>
  </mat-list>

  <h3 class="mt-6 mb-4 font-semibold text-gray-800">Active</h3>
  <mat-list class="divide-y divide-gray-200">
    <mat-list-item *ngFor="let code of data.chargeCodes" class="py-2">
      <span class="flex-1">{{ code.name }}</span>
      <button mat-icon-button class="ml-2" (click)="removeCode(code)" color="warn">
        <mat-icon>remove</mat-icon>
      </button>
    </mat-list-item>
  </mat-list>
</mat-dialog-content>
<mat-dialog-actions class="p-4 bg-gray-50 border-t">
  <button mat-button class="mr-2" (click)="dialogRef.close()">Cancel</button>
  <button mat-raised-button color="primary" (click)="save()">Save</button>
</mat-dialog-actions>