<!-- src/app/timesheet/calendar-page/calendar-page.component.html -->

<div class="container">
  <h1>Timesheet Calendar</h1>
  <div class="row">
    <div class="col-md-6">
      <div class="btn-group">
        <button class="btn btn-primary" mwlCalendarPreviousView view="week" [(viewDate)]="viewDate">Previous</button>
        <button class="btn btn-outline-secondary" mwlCalendarToday [(viewDate)]="viewDate">Today</button>
        <button class="btn btn-primary" mwlCalendarNextView view="week" [(viewDate)]="viewDate">Next</button>
      </div>
    </div>
    <div class="col-md-6 text-right">
      <h3>{{ viewDate | calendarDate:'weekViewTitle' }}</h3>
    </div>
  </div>
  <br />
  <div style="width: 80%; height: 80%; margin: auto;">
    <ng-template
      #weekViewHourSegmentTemplate
      let-segment="segment"
      let-locale="locale"
      let-segmentHeight="segmentHeight"
      let-isTimeLabel="isTimeLabel"
    >
      <div
        #segmentElement
        class="cal-hour-segment"
        [style.height.px]="segmentHeight"
        [class.cal-hour-start]="segment.isStart"
        [class.cal-after-hour-start]="!segment.isStart"
        [ngClass]="segment.cssClass"
        (mousedown)="startDragToCreate(segment, $event, segmentElement)"
      >
        <div class="cal-time" *ngIf="isTimeLabel">
          {{ segment.date | calendarDate:'weekViewHour':locale }}
        </div>
      </div>
    </ng-template>
    <mwl-calendar-week-view
      [viewDate]="viewDate"
      [events]="events"
      [hourSegmentTemplate]="weekViewHourSegmentTemplate"
      [weekStartsOn]="weekStartsOn"
      (eventClicked)="handleEventClick($event)"
    />
  </div>
  <h3>Daily Subtotals</h3>
  <table mat-table [dataSource]="subtotalsDataSource" class="table">
    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef>Date</th>
      <td mat-cell *matCellDef="let subtotal">{{ subtotal.date }}</td>
    </ng-container>
    <ng-container matColumnDef="accountName">
      <th mat-header-cell *matHeaderCellDef>Account</th>
      <td mat-cell *matCellDef="let subtotal">{{ subtotal.accountName }}</td>
    </ng-container>
    <ng-container matColumnDef="hours">
      <th mat-header-cell *matHeaderCellDef>Hours</th>
      <td mat-cell *matCellDef="let subtotal">{{ subtotal.hours }}</td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="subtotalColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: subtotalColumns;"></tr>
  </table>
</div>
