
<!-- src/app/financial/charge-code-users-dialog.component.html -->

<h2 mat-dialog-title>Add Users to Charge Code: {{ data.chargeCodeName }}</h2>
<mat-dialog-content class="max-h-96 overflow-y-auto p-4">
  <mat-selection-list [formControl]="selectedUsers">
    <mat-list-option *ngFor="let user of users" [value]="user.email">
      {{ user.name }} ({{ user.email }})
    </mat-list-option>
  </mat-selection-list>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button (click)="dialogRef.close()">Cancel</button>
  <button mat-raised-button color="primary" (click)="save()">Add Selected Users</button>
</mat-dialog-actions>