

<h2 mat-dialog-title>Charge Code Details</h2>
<mat-dialog-content class="p-4">
  <div class="space-y-2">
    <p><strong>Name:</strong> {{ data.chargeCodeName }}</p>
    <p><strong>Created By:</strong> {{ data.createdBy }}</p>
    <p><strong>Date:</strong> {{ data.date | date }}</p>
    <p><strong>Account:</strong> {{ data.account.name }}</p>
  </div>
</mat-dialog-content>
<mat-dialog-actions class="p-4 bg-gray-50 border-t">
  <button mat-button (click)="dialogRef.close()">Close</button>
</mat-dialog-actions>